.user-info{
    overflow-y: auto;
    height:90vh; 
    .user-name{
        font-weight:bold;
        font-size: 2em;
        padding: 10px;
    }
    tr{
        cursor: pointer;
        img{
            border-radius:50%;
        }
    }
}