.user-info-section {
    overflow-y: scroll;
    height: 95vh; 
    .section-title, .user-name{
    padding:10px;
}
.user-name{
    font-weight: bold;
    font-size:1.5em;
}
.follower-item , .repo-item{
    margin:10px;
    box-shadow: 0px 2px 4px 2px #b9b1b1;
    border-radius: 4px;
    min-height:80px;
    padding:10px;
    align-items: center;
   
}
.repo-item{
    height:max-content;
}
.follower-title{
    font-weight: bold;
    font-size: 1.2em;
    padding:10px;
}
}